body {
    /* background: rgb(37, 36, 36);; */
    background: radial-gradient(white, rgb(81, 81, 128));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: grey;
    font-size: 36px;
}

h4 {
    font-style: italic;
    font-size: 25px;
    color: rgb(95, 93, 93);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a,
li {
    text-decoration: none;
    color: rgb(37, 36, 36);
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
    margin: 0 0 15px 0;
}

a:visited {
    color: rgb(37, 36, 36);
}

a:hover {
    color: bisque;
    background: gray;
}