.section_item-profil {
    display: flex;
}

.contact_link,
.contact_link:visited {
    text-decoration: none;
    margin-bottom: 5px;
    width: 200px;
    margin-left: 5px;
}

article {
    display: flex;
}

.article_item-skills {
    flex: 1;
    padding: 0 15px;
}

.article_item-profil {
    flex: 2;
    padding: 0 15px;
}

.section_item-contactInf {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.fas,
.far {
    color: gray;
}

a {
    font-size: 14px;
}

.contact_link-orange {
    color: orangered;
}

h4 {
    color: orangered;
    line-height: 0;
}

h5 {
    line-height: 0;
}

.article_item-profil h5+p {
    color: grey;
    line-height: 0;
}

.fa-star,
.fa-star-half {
    color: orange;
}

.article_item-profil h5:first-of-type::after {
    content: "2003-2005";
    position: relative;
    left: 60%;
}

.article_item-profil h5:nth-of-type(2)::after {
    content: "2005-2009";
    position: relative;
    left: 65%;
}

.article_item-profil h5:nth-of-type(3)::after {
    content: "2007-2009";
    position: relative;
    left: 65%;
}

.article_item-profil h5:nth-of-type(4)::after {
    content: "2009-2010";
    position: relative;
    left: 70%;
}

.article_item-profil h5:nth-of-type(5)::after {
    content: "2010-presents";
    position: relative;
    left: 53%;
}

@media print {
    h5 {
        font-size: 14px;
        line-height: 0;
    }
    .article_item-profil h5+p {
        color: grey;
        line-height: 0;
    }
    p {
        font-size: 12px;
    }
    h4 {
        font-size: 16px;
    }
}

@media screen {
    a {
        font-size: 20px;
    }
    h5 {
        font-size: 25px;
    }
    .article_item-profil h5+p {
        color: grey;
    }
    p {
        font-size: 20px;
    }
    h4 {
        font-size: 30px;
    }
}